/* Reset default styles and set common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #fff;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(13, 17, 37);
}

#main {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#main>h1 {
    font-size: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
#main>h1 span {
    margin: 0 15px;
}
#main>h1 span img {
    height: 40px;
    rotate: 90deg;
    transition: 0.3s ease;
}
#main #endec-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(255, 255, 255, 0.185);
    border-radius: 100px;
    padding: 6px 25px;
    width: 31%;
    margin: 50px 0 35px 0;
}
#endec-div h3 {
    font-size: 17px;
    display: flex;
    border-radius: 100px;
    font-weight: 100;
    align-items: center;
    cursor: pointer;
    padding: 12px 10px;
    transition: 0.2s ease;
}
#enc-btn {
    background-color: #333;
}

#endec-div h3 span {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

#endec-div h3 img {
    height: 20px;
}

/* Styling for the encryption section */
#encryption {
    width: 80%;
}

#encryption textarea {
    width: 100%;
    height: 80px;
    border: 2px solid rgba(255, 255, 255, 0.151);
    padding: 10px;
    margin-bottom: 45px;
    border-radius: 25px;
    font-size: 17px;
    background-color: #0000004d;
}

/* Styling for the input fields within encryption */
#encryption input {
    width: 100%;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.151);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 100px;
    font-size: 17px;
    background-color: #0000004d;
}
#encryption button {
    display: flex;
    align-items: center;
    background-color:  rgba(255, 255, 255, 0.185);
    border: none;
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-radius: 100px;
    color: #eee;
    font-size: 17px;
}
button span {
    display: flex;
    margin-right: 10px;
}
#decryption {
    width: 80%;
}
#decryption textarea {
    width: 100%;
    height: 80px;
    border: 2px solid rgba(255, 255, 255, 0.151);
    padding: 10px;
    margin-bottom: 45px;
    border-radius: 25px;
    font-size: 17px;
    background-color: #0000004d;
}

/* Styling for the input fields within decryption */
#decryption input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 100px;
    font-size: 17px;
    background-color: #0000004d;
    border: 2px solid rgba(255, 255, 255, 0.151);
}

/* Styling for the buttons within decryption */
#decryption button {
    display: flex;
    align-items: center;
    background-color:  rgba(255, 255, 255, 0.185);
    border: none;
    width: 100%;
    justify-content: center;
    padding: 10px;
    border-radius: 100px;
    color: #eee;
    font-size: 17px;
}
button span {
    display: flex;
    margin-right: 10px;
}
button img {
    height: 20px;
}

/* Styling for the result section */
#result {
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #0000004d;
    border: 2px solid rgba(255, 255, 255, 0.151);
    width: 60%;
    margin-top: 55px;
}